body {
    display: flex;
    justify-content: space-around;
    background-color: rgb(238, 236, 113);
}

.channel {
    width: 380px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: rgb(172, 231, 148);
}

.title {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.title h2{
    font-size: 30px;
    color: #0d4e13;
}

.messages ul{
    width: 89%;
}

form div{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.btn{
    width: 97px;
    background-color: rgb(75, 68, 182);
    color: white;
    padding: 10px;
    font-size: 26px;
    border-radius: 27%;
    border: 0px;
    height: 54px;
    cursor: pointer;
}