img {
    max-width: 100%;
    height: auto;
}

html {
    height: 100%;
}

body,
html {
    min-height: 100%;
}

button:active,
button:focus {
    outline: none !important;
    outline: 5px auto -webkit-focus-ring-color;
}

input,
textarea {
    width: 100%;
    border-radius: 8px;
    border: 2px solid #5c636e;
    padding: 10px;
    background: transparent;
    outline: none;
}

ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

* {
    transition: all .6s ease;
    box-sizing: border-box;
}

body {
    font-size: 120px;
}

/*body{
    font-family: 'Roboto', sans-serif;
    font-size: 68px;
}*/

#header {
    height: 15vh;
    border-bottom: 2px solid #63605c;
    padding-top: 30px;
    background: rgb(255, 251, 251);
    background: -webkit-linear-gradient(93deg, rgba(255, 251, 251, 1) 0%, rgba(181, 181, 181, 1) 50%, rgba(191, 189, 189, 1) 100%);
    background: -o-linear-gradient(93deg, rgba(255, 251, 251, 1) 0%, rgba(181, 181, 181, 1) 50%, rgba(191, 189, 189, 1) 100%);
    background: linear-gradient(183deg, rgba(255, 251, 251, 1) 0%, rgba(181, 181, 181, 1) 50%, rgba(191, 189, 189, 1) 100%);
}

.header-text {
    color: #f4f9f4;
    padding: 15px 0;

}

h1 {
    text-transform: uppercase;
}

#main {
    padding: 30px 0;
    background: #bad7df;
    min-height: 85vh;
}

.title {
    margin-bottom: 20px;
    position: relative;
}

.title::after {
    content: "";
    position: absolute;
    background: #596e79;
    height: 2px;
    width: 100%;
    bottom: -20px;
}

.btnSend {
    letter-spacing: 0.3em;
    margin-right: 40px;
    padding: 5px;
    width: 100px;
    border: none;
    border-radius: 10px;
    color: #f6f6e9;
    background-color: #2e5a1c;
    cursor: pointer;
    outline: none;
}

.btnSend:hover {
    background-color: rgba(46, 90, 28, 0.9);
    letter-spacing: 0.6em;
    outline: none;
}

.btn-join:focus {
    background-color: rgba(46, 90, 28, 0.8);
    color: #fff;
    letter-spacing: 0.6em;
}

.messages {
    margin-top: 40px;
    border-radius: 20px;
    background: #c5e5e3;
    padding: 30px 20px;

}

.messages:hover {
    box-shadow: 10px 10px 9px -1px rgba(0, 0, 0, 0.75);
}

.username {
    margin-bottom: 20px;
}

.usertext {
    margin-bottom: 10px;
}

textarea {
    min-height: 150px;
    max-height: 150px;
    color: #003e21;
    caret-color: black;
    outline: none;
    resize: none!important;
}

textarea:focus,
input:focus {
    background: rgba(77, 90, 89, 0.1);
}

textarea::-webkit-scrollbar-track
{
    border-radius: 30px;
}

textarea::-webkit-scrollbar
{
	width: 12px;
}

textarea::-webkit-scrollbar-thumb
{
	border-radius: 30px;
    background-color: #555;
    overflow-y: hidden;
}



.imgContainer {
    width: 18px;
}

.btn-send {
    background: #118df0;
    position: relative;
    width: 100%;
    margin-right: 0;
}

.btn-send:hover {
    background: rgba(17, 141, 240, 0.7);
    letter-spacing: 0.5em;
}

.chat-info {
    margin-top: 10px;
    max-height: 300px;
    overflow-x: auto;
}
.chat-info::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	border-radius: 30px;
	background-color: inherit;
}

.chat-info::-webkit-scrollbar
{
	width: 12px;
	background-color: inherit;
}

.chat-info::-webkit-scrollbar-thumb
{
	border-radius: 30px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.chat-info li {
    position: relative;
}

.msgContainer {
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(91, 99, 109);
    word-break: break-all;
}
.msgContainer b {
    display: inline-block;
    width: 90%;
}

.msgContainer p {
    margin-bottom: 5px;
}

.imgContainer {
    position: absolute;
    top: 0;

    right: 5px;
}
