* {
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: rgb(245, 245, 240);
    font-family: Arial, Helvetica, sans-serif;
}

.channel {
    width: 380px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(172, 231, 148);
    border-radius: 10px;
    height: auto;
}

.title {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title h2 {
    font-size: 30px;
    color: #0d4e13;
}

form div {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

form input, form textarea {
    width: 90%;
    height: 30px;
    border-radius: 7px;
    border: none;
    padding-left: 17px;
    box-sizing: border-box;
}

form textarea {
    height: 80px;
    margin-top: 14px;
    padding-top: 9px;
}

form input:focus, form textarea:focus, button:focus {
    outline: none
}

.messages ul {
    width: auto;
    padding: 0 18px;
}

.messages ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.msgContainer {
    width: 87%;
    border-bottom: 1px solid #000;
    padding: 8px 0;
}

.imgContainer {
    width: 18px;
}

.imgContainer img {
    width: 100%;
}

.btnSend {
    margin: 15px 0;
    width: 34%;
    height: 30px;
    border: none;
    border-radius: 7px;
    color: white;
    background-color: #1a9025;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}